
<div class="container">

	<h1>Artistas</h1>
	  <div class="row">


	  	<%  @artists.each do |artist| %>


	  	<div class="col-sm-6 col-md-3">
	  	    <div class="thumbnail">
	  	      <img src="<%= artist.image_url %>" alt="<%= artist.name %>">
	  	      <div class="caption">
	  	        <h3><%= artist.name %></h3>
	  	  
	  	       	<div>

	  	       		 <%= link_to "Ver mas", artist_path(artist), class: "btn btn-primary btn-lg btn-block" %>

	  	       	</div>
	  	      </div>
	  	    </div>
	  	  </div>
	   
		<% end %>

	   </div>
</div>